<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item"><%= link_to t(:label_edit_profile), edit_user_registration_path, class: 'sidebar-link active' %></li>
    </ul>
    <br>
    <%= link_to t(:label_view_my_profile), user_path(current_user.id), class: 'btn btn-default' %>
  </div>
  <div class="col-md-9 text-center">
    <div class="card">
      <div class="card-header"><%= t(:label_my_profile) %></div>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render partial: 'shared/devise_messages', resource: resource %>

          <div class="form-group">
            <%= f.email_field :email, autofocus: true, required: true, placeholder: t(:label_email), class: 'form-control'  %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group">
            <%= f.text_field :fname, required: true, placeholder: t(:label_fname), class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.text_field :lname, required: true, placeholder: t(:label_lname), class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.phone_field :phone_number, placeholder: t(:label_phone_number), class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.text_area :description, placeholder: t(:label_description), rows: 5, cols: 25, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.password_field :password, placeholder: t(:label_new_password_with), class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.password_field :password_confirmation, placeholder: t(:label_password_confirmation), class: 'form-control' %>
          </div>

          <div class="actions">
            <%= button_tag fa_icon('far fa-save', t(:label_update)), type: :submit, class: 'btn btn-normal btn-block' %>
          </div>

        <% end %>

        <br>
        <h5><%= t(:info_cancel_account) %></h5>
        <p><%= link_to fa_icon('far fa-trash-alt', t(:label_cancel_account)), registration_path(resource_name), data: { confirm: t(:label_confirmation) }, method: :delete, class: 'btn btn-danger btn-small' %></p>
      </div>
    </div>
  </div>
</div>