<div class="row justify-content-md-center">
  <div class="col-md-6 col-md-offset-6">

  <h2><%= t(:label_change_password) %></h2>
  <br>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-group">
      <%= f.password_field :password, required: true, placeholder: t(:label_password_with_characters, count: @minimum_password_length || 0), class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, required: true, placeholder: t(:label_password_confirmation), class: 'form-control' %>
    </div>

    <div class="actions">
      <%= button_tag fa_icon('far fa-save', t(:label_save)), type: :submit, class: 'btn btn-primary' %>
    </div>
  <% end %>

  </div>
</div>