<div class="row justify-content-md-center">
  <div class="col-md-6 col-md-offset-6">

    <h2 class="text-center"><%= t(:label_forgot_password) %></h2>
    <br>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render partial: 'shared/devise_messages', resource: resource %>

      <div class="form-group">
        <%= f.email_field :email, autofocus: true, required: true, placeholder: t(:label_email), class: 'form-control'  %>
      </div>

      <div class="actions">
        <%= f.submit t(:btn_send_reset_password_info), class: 'btn btn-primary' %>
      </div>
    <% end %>

  </div>
</div>
