<div class="row justify-content-md-center">
  <div class="col-md-6 col-md-offset-6">

    <h2 class="text-center"><%= t(:label_login) %></h2>
    <br>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, placeholder: t(:label_email), class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, placeholder: t(:label_password), class: 'form-control'  %>
      </div>

      <div>
        <% if devise_mapping.rememberable? %>
          <%= f.check_box :remember_me %> <%= f.label :remember_me, t(:label_remember_me) %>
        <% end %>
        <span class="pull-right">
          <%= link_to t(:label_forgot_password), new_user_password_path %>
        </span>
      </div>
      <br>

      <div class="actions">
        <%= f.submit t(:label_login), class: 'btn btn-normal btn-block' %>
      </div>
    <% end %>

    <hr>
    <%= link_to fa_icon('fab fa-facebook-square', "Facebook"), user_facebook_omniauth_authorize_path, class: 'btn btn-facebook btn-block' %>
  </div>
</div>
